<section class="s-featured-embassador">
  <div class="s-container">
    <h2><%= t('developer.index.title') %></h2>
    <h1><%= t('developer.index.subtitle') %></h1>
    <p><%= t('developer.index.explanation') %></p>
    <a href="https://github.com/BossaBox/dealbook"
       class="btn-start-now"
       target="_blank"><%= t('developer.index.view_on_github') %></a>
    <img src="/img/img-developer.png" class="img-developer" alt="">
  </div>
</section>
<section class="all-peoples">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top">
          <h1><%= t('developer.index.current_developer') %></h1>
          <p><%= t('developer.index.got_questions_html') %></p>
        </div>
      </div>
    </div>
    <div class="row line-people">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="box-people">
          <div class="photo">
            <img src="/img/photo-diego-gomes.jpg"
                 class="dev-photo">
          </div>
          <h1>Diego Gomes</h1>
          <span>Co-Founder & CMO at Rock Content - </span>
          <span>Minas Gerais, BR</span>
          <div class="country">
            <img src="/img/flag-en.svg" alt="">
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://www.facebook.com/diegogomes" target="_blank">
                  <img src="/img/facebook-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/dttg" target="_blank">
                  <img src="/img/twitter-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/diegottg/" target="_blank">
                  <img src="/img/linkedin-azul.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="box-people">
          <div class="photo">
            <img src="/img/photo-luciano-tavares.jpg"
                 class="dev-photo">
          </div>
          <h1>Luciano Tavares</h1>
          <span>Founder, CEO at Magnetis - </span>
          <span>São Paulo, BR</span>
          <div class="country">
            <img src="/img/flag-en.svg" alt="">
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://twitter.com/lucianot" target="_blank">
                  <img src="/img/twitter-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/lucianot/" target="_blank">
                  <img src="/img/linkedin-azul.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="box-people">
          <div class="photo">
            <img src="https://avatars3.githubusercontent.com/u/1042981?s=460&v=4"
                 class="dev-photo">
          </div>
          <h1>Pedro Tavares</h1>
          <span>Software developer - </span>
          <span></span>
          <div class="country">
            <img src="/img/flag-en.svg" alt="">
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="#" target="_blank">
                  <img src="/img/facebook-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img src="/img/twitter-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img src="/img/linkedin-azul.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="box-people">
          <div class="photo">
            <img src="https://avatars1.githubusercontent.com/u/73923?s=460&v=4"
                 class="dev-photo">
          </div>
          <h1>Fernando Almeida</h1>
          <span>Software developer - </span>
          <span>Bahia, BR</span>
          <div class="country">
            <img src="/img/flag-en.svg" alt="">
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://www.facebook.com/fernandoalmeida.net" target="_blank">
                  <img src="/img/facebook-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/fernandoalmeida" target="_blank">
                  <img src="/img/twitter-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/fernandoalmeida/" target="_blank">
                  <img src="/img/linkedin-azul.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row line-people">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="box-people">
          <div class="photo">
            <img src="https://avatars2.githubusercontent.com/u/11822875?s=460&v=4"
                 class="dev-photo">
          </div>
          <h1>Lucas Bordignon</h1>
          <span>Software developer - </span>
          <span>Santa Catarina, BR</span>
          <div class="country">
            <img src="/img/flag-en.svg" alt="">
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://www.facebook.com/lucas.bordignon.3" target="_blank">
                  <img src="/img/facebook-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/Lucaspbordignon" target="_blank">
                  <img src="/img/twitter-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/lucaspbordignon" target="_blank">
                  <img src="/img/linkedin-azul.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="box-people">
          <div class="photo">
            <img src="https://avatars2.githubusercontent.com/u/11822875?s=460&v=4"
                 class="dev-photo">
          </div>
          <h1>Diego Carvalho</h1>
          <span>Software developer - </span>
          <span>São Paulo, BR</span>
          <div class="country">
            <img src="/img/flag-pt-br.svg" alt="">
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://twitter.com/direisc" target="_blank">
                  <img src="/img/twitter-azul-02.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/direisc" target="_blank">
                  <img src="/img/linkedin-azul.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <% @developers.each do |developer| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="box-people">
            <div class="photo">
              <img src="<%= developer[:avatar_url] %>"
                   class="dev-photo">
            </div>
            <h1><%= developer[:name] %></h1>
            <span><%= developer[:bio] %> </span>
            <div class="country">
              <img src="/img/flag-e.svg" alt="">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
