<section class="filter-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('filter') %></h3>
        <div class="filter-cards">

          <a class="filter-card <%= filter_active('name')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="name"
            data-type="text"
            data-modal-title="<%= t('filters.name') %>"
            href="#"><i></i><%= t('filters.name') %></a>
          
          <a class="filter-card <%= filter_active('description')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="description"
            data-type="text"
            data-modal-title="<%= t('filters.description') %>"
            href="#"><i></i><%= t('filters.description') %></a>
          
          <a class="filter-card <%= filter_active('gender')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="gender"
            data-type="radio"
            data-modal-title="<%= t('filters.gender') %>"
            data-autocomplete-data="<%= Hash[Person::GENDERS.map { |s| [s, t("filters.labels.gender.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.gender') %></a>

          <a class="filter-card <%= filter_active('occupation')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="occupation"
            data-type="text"
            data-modal-title="<%= t('filters.occupation') %>"
            href="#"><i></i><%= t('filters.occupation') %></a>
        </div>
        <% if params[:filter] %>
          <form id="filter-pills-form" action="/people">
            <h4><%= t('filter_selected') %></h4>
            <div class="filter-pills">
              <span class="pills">
                <% params[:filter].each do |index, filter| %>
                  <span class="filter-pill" href="#">
                    <small><%= t('filters.'+filter[:type]) %></small>
                    <% if filter[:operator].present? %>
                      <%= '> ' if filter[:operator] == 'greater_than' %>
                      <%= '< ' if filter[:operator] == 'less_than' %>
                    <% end %>
                    <% if filter[:type].in?(%w[gender]) %>
                      <%= filter[:value].present? ? t("filters.labels.#{filter[:type]}.#{filter[:value]}") : '' %>
                    <% elsif filter[:type].in?(%w[amount]) %>
                      <%= format_amount(filter[:value],  Deal::USD) %>
                    <% else %>
                      <%= filter[:value] %>
                    <% end %>
                    <i></i>
                    <input
                      type="hidden"
                      name="filter[<%= index %>][type]"
                      value="<%= filter[:type] %>" />
                    <input 
                      type="hidden"
                      name="filter[<%= index %>][operator]"
                      value="<%= filter[:operator] %>" />
                    <input
                      type="hidden"
                      name="filter[<%= index %>][value]"
                      value="<%= filter[:value] %>"
                      data-subcategory="<%= filter[:type] %>"
                      data-type="<%= filter[:operator] %>" />
                  </span>
                <% end %>
              </span>
              <a class="filter-clear" href="#"><i class="far fa-trash-alt"></i>Clear all filters</a>
            </div>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="filterModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        <form id="filterModalForm"></form>
      </div>
      <div class="modal-footer" style="text-align: left;">
        <button type="button" class="btn btn-default acta" data-dismiss="modal">Clear filter</button>
        <button id="filterModalApplyButton" type="button" class="btn btn-primary cta"><%= t('deals.index.apply_filter') %></button>
      </div>
    </div>
  </div>
</div>
