<section class="filter-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="container-filter">
          <h3><img src="/img/seta-baixo.svg"> <%= t('people.index.filter_people') %></h3>
          <div class="filter-result">
            <form id="filter-form" action="/people">
              <div class="filter-complete">
                <% if params[:filter] %>
                  <% params[:filter].values.each_with_index do |filter, index| %>
                    <div class="item-filter">
                      <ul>
                        <li class="primary-nivel-filter-secondary"><button><%= t("filters.#{filter[:type]}") %></button></li>
                        <li class="second-nivel-filter"><button><%= t("filters.operators.#{filter[:operator]}") %></button></li>
                        <li class="last-nivel-filter">
                          <input type="hidden" name="filter[<%= index %>][type]" value="<%= filter[:type] %>" />
                          <input type="hidden" name="filter[<%= index %>][operator]" value="<%= filter[:operator] %>" />
                          <input type="text" name="filter[<%= index %>][value]" data-subcategory="<%= filter[:type] %>" data-type="<%= filter[:operator] %>" value="<%= filter[:value] %>">
                        </li>
                      </ul>
                      <div class="button btn-remove-filter"><img src="/img/img-close-filter.png" alt=""></div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="filter-empty">
                <a href="#" class="btn-add-filter-modal" data-toggle="modal" data-target="#modalFilter"><img src="/img/add.svg" alt=""> <%= t('people.index.add_filter') %></a>
                <button class="btn-app-filter"><%= t('people.index.apply_filter') %></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="modalFilter" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <h1 class="modal-title"><%= t('filters.add') %></h1>
      <div class="modal-header">
        <div class="control-breadcrumbs">
          <div class="controls">
            <button class="arrow-left disabled">
              <img src="/img/seta-esq-modal-filter.svg" alt="">
            </button>
            <button class="arrow-right disabled">
              <img src="/img/seta-dir-modal-filter.svg" alt="">
            </button>
          </div>
          <ul class="bread">
            <li class="one-category"></li>
            <li class="two-category"></li>
            <li class="three-category"></li>
            <li class="last-category"></li>
          </ul>
        </div>
      </div>
      <div class="modal-body">
        <div class="filter-geral">
          <div class="level-filter main-category">
            <ul>
              <li>
                <a href="">
                  <%= t('filters.people') %>
                  <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="level-filter sub-category">
            <ul>
              <li><a href="" data-category="basic"><%= t('filters.basic') %><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>
          </div>
          <div class="level-filter last-sub-category">
            <ul>
              <li>
                <a href="" data-subcategory="name" data-type="text">
                  <%= t('filters.name') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="description" data-type="text">
                  <%= t('filters.description') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="gender"
                           data-type="select"
                           data-autocomplete-category="Gender"
                           data-autocomplete-data=<%= Person::GENDERS.to_json %>>
                  <%= t('filters.gender') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="occupation" data-type="text">
                  <%= t('filters.occupation') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="level-filter last-level-filter">
            <ul>
              <li><a href="" data-type="equal"><%= t('filters.operators.equal') %></a></li>
              <li><a href="" data-type="contains"><%= t('filters.operators.contains') %></a></li>
              <li><a href="" data-type="greater_than"><%= t('filters.operators.greater') %></a></li>
              <li><a href="" data-type="less_than"><%= t('filters.operators.less') %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
