<section class="s-title-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7">
        <h1><%= t('people.index.people') %></h1>
        <h2><%= @people.count %> <%= t('index.itens') %></h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <a href="/people/new"><%= t('people.index.new') %></a>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'filters' %>

<section class="s-table-results">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="results">
          <%= page_entries_info @people_paginated, entry_name: t('people.index.display') %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <a href="/people.xlsx" class="btn-export">
          <img src="/img/download.svg" alt="" style="width: 23px; height: 23px;">
          <%= t('people.index.export') %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/flash_messages' %>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 25px;"></th>
                <%= render 'shared/sortable_header', url: people_path,
                                                     label: t('people.index.column_name'),
                                                     type: 'first_name',
                                                     order: params[:order] %>

                <%= render 'shared/sortable_header', url: people_path,
                                                     label: t('people.index.column_occupation'),
                                                     type: 'occupation',
                                                     order: params[:order] %>
                <th><%= t('people.index.column_local') %></th>
                <th style="width: 25px;"></th>
                <th><%= t('people.index.column_company') %></th>
                <th style="width: 18px;"></th>
              </tr>
            </thead>

            <tbody>
              <% @people_paginated.each do |person| %>
                <tr class="clickable-row" data-href=<%= "/people/#{person.permalink}" %>>
                  <td><img src="<%= person.profile_image_url || "/img/photo-people.png" %>" alt=""></td>
                  <td><%= person.name %></td>
                  <td><%= person.occupation %></td>
                  <td><%= person.locations_plain %></td>
                  <td><img src="/img/companies.svg" alt=""></td>
                  <td><strong><%= latest_company(person) %></strong></td>
                  <td><a href="/people/<%= person.permalink %>"><i class="fas fa-arrow-right"></i></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= paginate @people_paginated %>
      </div>
    </div>
  </div>
</section>
