<section class="details-company">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <a href="<%= url_for(:back) %>" class="btn-back">
          <i class="fas fa-arrow-left"></i>  <%= t('companies.show.back') %>
        </a>
        <div class="company">
          <div class="name-company">
            <div class="logo">
              <img src="/img/avatar.png" class="img-responsive profile-img__md">
            </div>
            <div class="text">
              <h1><%= @person.name %></h1>
              <span><%= @person.occupation %></span>
            </div>
          </div>
          <% if user_signed_in? %>
            <a href="/people/<%= @person.permalink %>/edit" class="btn-edit"> <img src="/img/edit.svg">
              <%= t('people.show.edit') %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info-web-location">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul>
          <li>
            <!--<img src="/img/location.svg" alt="">-->
            <strong><%= t('companies.show.locations') %></strong>
            <span><%= @person.locations_plain %><%= t("empty_state") if @person.locations_plain.blank? %></span>
          </li>
          <li>
            <!--<img src="/img/site.svg" alt="">-->
            <strong><%= t('companies.show.site') %></strong>
            <a href="<%= @person.website_url %>" target="_blank"><%= @person.website_url %></a>
            <%= t("empty_state") if @person.website_url.blank? %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<% if @person.investor %>
<section>
  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h2 class="tag">
          <img src="/img/clock.svg" alt="">
          <%= t('investor.show.investor_type') %>: <%= @person.investor.tag ? t("investor.show.categories.#{@person.investor.tag}") : t("empty_state") %>
        </h2>
        <div class="info-geral">
          <div class="item">
            <h3><%= @person.investor.deals.count %></h3>
            <span><%= t('investor.show.investments') %></span>
          </div>
          <div class="item">
            <h3><%= @person.investor.deals.map(&:company).uniq.count %></h3>
            <span><%= t('investor.show.companies') %></span>
          </div>
          <div class="item">
            <h3><%= format_amount(@person.investor.deals.map(&:amount).compact.sum) %></h3>
            <span><%= t('investor.show.funds_raised') %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<section class="details-gerals">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="description">
          <h1>
            <img src="/img/person-details.svg" alt="">
            <%= t('people.show.details') %>
          </h1>
          <p>
            <%= @person.description %>
            <%= t("empty_state") if @person.description.blank? %>
          </p>
          <ul class="info-contact">
            <li>
              <p>
                <strong><%= t('people.show.status') %>:</strong>
                <%= @person.verified_at? ? t('people.show.statuses.verified') : t('people.show.statuses.unverified') %>
              </p>
            </li>
            <li>
              <p>
                <strong><%= t('people.show.born') %>:</strong> 
                <!--<%= @person.born_on %>-->
                <%= @person.born_on ? I18n.l(@person.born_on, format: :default) : t("empty_state") %>
              </p>
            </li>
            <li>
              <p>
                <strong><%= t('people.show.gender') %>:</strong>
                <!--<%= @person.gender %>-->
                <%= @person.gender ? I18n.t("filters.labels.gender.#{@person.gender}") : t("empty_state") %>
              </p>
            </li>
          </ul>
          <div class="social">
            <h1><%= t('people.show.media') %></h1>

            <% if @person.social_media? %>
              <ul>
                <% if @person.facebook_url %>
                  <li>
                    <a href="<%= @person.facebook_url %>" target="_blank">
                      <img src="/img/facebook-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @person.twitter_url %>
                  <li>
                    <a href="<%= @person.twitter_url %>" target="_blank">
                      <img src="/img/twitter-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @person.google_plus_url %>
                  <li>
                    <a href="<%= @person.google_plus_url %>" target="_blank">
                      <img src="/img/google-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @person.linkedin_url %>
                  <li>
                    <a href="<%= @person.linkedin_url %>" target="_blank">
                      <img src="/img/linkedin-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <%= t('investor.show.media_empty') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="tables-info-company">
          <%= render partial: 'people/show/investiments' %>
          <%= render partial: 'people/show/companies' %>
        </div>
      </div>
    </div>
  </div>
</section>
