<section class="s-signup">
  <%= render partial: 'devise/shared/summary' %>

  <div class="s-right">
    <a href="/"
       class="btn-back">
      <%= t('sessions.back_button') %> <img src="/img/close.svg" alt="">
    </a>

    <p class="text-information">
      <%= t('sessions.has_account') %> <a href="<%= new_user_session_path %>"><strong><%= t('sessions.sign_in') %></strong></a>
    </p>

    <div class="container-signup">
      <div class="top">
        <span class="number">-</span>
        <h1><%= t('sessions.forgot_password') %></h1>
      </div>

      <%= form_for(resource, as: resource_name,
                             url: password_path(resource_name),
                             html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <%= render partial: 'shared/flash_messages' %>

        <div class="form-group">
          <%= f.text_field :email, autofocus: true,
                                   autocomplete: 'email',
                                   placeholder: 'Email' %>
        </div>

        <div class="form-group">
          <input type="submit"
                 style="width: 100%;
                 background: #32d6cc;
                 color: #fff;
                 border: none;
                 border-radius: 4px;
                 line-height: 48px;
                 font-size: 16px;
                 outline: none;
                 border: 2px solid #32d6cc;"
                 value="<%= t('sessions.recover_password') %>">
        </div>
      <% end %>
    </div>
  </div>
</section>
