<!--<div class="item investors">-->
  <h1 class="title-accordion"><img src="/img/companies.svg" alt="">Organization</h1>
<% if @person.person_companies.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 25px;"></th>
          <th><%= t('people.show.companies.name') %></th>
          <!--<th><%= t('people.show.companies.status') %></th>-->
          <th><%= t('companies.show.people.job') %></th>
          <th><%= t('people.show.companies.location') %></th>
          <!--<td colspan="2"><%= t('people.show.companies.deals') %></td>-->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @person.person_companies.each do |person_company| %>
          <tr>
            <td>
              <img src="<%= person_company.company.get_profile_avatar %>" onerror="this.src='/img/companies.svg'"  />
            </td>
            <td>
              <strong> <%= person_company.company.name %></strong>
            </td>
            <!--<td class="status-active"><span class="circle"></span> <%= person_company.company.status %></td>-->
            <td><%= person_company.job_title %></td>
            <td><%= person_company.company.locations_plain %></td>
            <!--<td><%= t('people.show.companies.location') %></td>-->
            <td>
              <a href="/companies/<%= person_company.company.permalink %>">
                <i class="fas fa-arrow-right"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div style="border-radius: 12px; background: white; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.16); margin-bottom: 60px;">
    Don't have
  </div>
<% end %>
<!--</div>-->
