<div class="item investors">
  <h1><img src="/img/companies.svg" alt="">Organization</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('people.show.companies.name') %></th>
          <th><%= t('people.show.companies.status') %></th>
          <th><%= t('people.show.companies.location') %></th>
          <td colspan="2"><%= t('people.show.companies.deals') %></td>
        </tr>
      </thead>
      <tbody>
        <% @person.person_companies.each do |person_company| %>
          <tr>
            <td>
              <img src=<%= person_company.company&.profile_image_url || '/img/logo-company.png' %> width=38px />
              <strong> <%= person_company.company.name %></strong>
            </td>
            <td class="status-active"><span class="circle"></span> <%= person_company.company.status %></td>
            <td><%= person_company.company.locations.pluck(:city, :country).map { |c| c.join(', ') }.join('/ ') %></td>
            <td><%= t('people.show.companies.location') %></td>
            <td><a href="/companies/<%= person_company.company.permalink %>"><img src="/img/seta-dir.svg" alt=""></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
