<div class="item">
    <h1><img src="/img/investments.svg" alt=""> Investments</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Close date</th>
                    <th>Company</th>
                    <th>Deal type</th>
                    <th>Round</th>
                    <th>Amount</th>
                    <th>Pre-money valution</th>
                </tr>
            </thead>
            <tbody>
		<% @deals.each do |deal| %>
		    <tr>
                        <td><strong><%= I18n.l(deal.close_date, format: :default) %></strong></td>
                        <td><a href="/companies/<%= deal.company.permalink %>" style="float: none;"><%= deal.company.name %></a></td>
                        <td><%= I18n.t("deals.model.categories.#{deal.category}") %></td>
                        <td><%= deal.round ? I18n.t("deals.form.rounds.#{deal.round}") : '' %></td>
                        <td><%= number_to_currency(deal.amount, unit: "#{deal.amount_currency} ") %></td>
                        <td><%= number_to_currency(deal.pre_valuation, unit: "#{deal.pre_valuation_currency} ") %></td>
			<td><a href="/deals/<%= deal.id %>"><img src="/img/seta-dir.svg" alt=""></a></td>
		    </tr>
		<% end %>
            </tbody>
        </table>
    </div>
</div>
