<div class="item">
  <h1><img src="/img/investments.svg" alt=""> <%= t('people.show.deals.investments') %></h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('people.show.deals.close_date') %></th>
          <th><%= t('people.show.deals.company') %></th>
          <th><%= t('people.show.deals.deal_type') %></th>
          <th><%= t('people.show.deals.round') %></th>
          <th><%= t('people.show.deals.amount') %></th>
          <th><%= t('people.show.deals.pre_money') %></th>
        </tr>
      </thead>
      <tbody>
        <% @deals.each do |deal| %>
          <tr>
            <td><strong><%= I18n.l(deal.close_date, format: :default) %></strong></td>
            <td><a href="/companies/<%= deal.company.permalink %>" style="float: none;"><%= deal.company.name %></a></td>
            <td><%= I18n.t("deals.model.categories.#{deal.category}") %></td>
            <td><%= deal.round ? I18n.t("deals.form.rounds.#{deal.round}") : t("empty_state") %></td>
            <td><%= format_amount(deal.amount, deal.amount_currency) %></td>
            <td><%= format_amount(deal.pre_valuation, deal.pre_valuation_currency) %></td>
            <td><a href="/deals/<%= deal.id %>"><img src="/img/seta-dir.svg" alt=""></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
