<div class="header-mobile">
  <div class="container-logo">
    <a href="/">
      <img src="/img/logo.svg" alt="">
    </a>
  </div>
  <div class="btns-menu">
    <a href="/login" class="btn-login">
      <img src="/img/login.svg" class="btn-login-responsive img-responsive" class="img-responsive" alt="">
    </a>
    <a id="js-open-menu" class="menu-button">
      <i class="menu-icon"></i>
    </a>
    <div class="popup-login">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <button class="login-with-linkedin">
          <img src="/img/linkedin-resume.svg" alt="">
          <span><%= t('header.sign_in_with_linkedin') %></span>
        </button>
        <span class="span-or"><%= t('header.or_sign_in_with_email') %></span>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: 'Email or Username', class: 'form-control' %>
        </div>
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>

            <span class="input-group-btn">
              <%= f.submit 'Login', class: 'btn btn-default' do %>
                <img src="/img/seta-dir-white-login.svg" alt="">
              <% end %>
            </span>
          </div>
        </div>
        <div class="text-information">
          <span><%= t('header.need_account_html') %></span>
          <span><a href="/password/new"><%= t('header.forgot_password') %></a></span>
        </div>
      <% end %>
    </div>
    <div class="menu-colapsado">
      <div class="search">
          <form action="/search">
            <div class="form-group search-form">
              <input
                 type="text"
                 name="global_search"
                 placeholder="<%= t('header.search_box') %>"
                 class="search-input__mobile">
              <input type="submit" value="Search" class="btn search-input__submit">
            </div>
          </form>
      </div>
      <div class="container-search">
      </div>

      <ul>
        <li><a href="/companies"><%= t('header.companies') %></a></li>
        <li><a href="/deals"><%= t('header.deals') %></a></li>
        <li><a href="/people"><%= t('header.people') %></a></li>
        <li>
          <a href="" class="btn-investors">
            <%= t('header.investors') %><img src="/img/seta.svg" alt="">
          </a>

          <div class="popup-container">
            <div class="popup-card popup-investors">
              <a href="/investors"><%= t('header.investors_list') %></a>
              <a href="/investors/ranking"><%= t('header.investors_ranking') %></a>
            </div>
          </div>
        </li>
        <li>
          <a href="" class="btn-involved">
            <%= t('header.get_involved') %><img src="/img/seta.svg" alt="">
          </a>

          <div class="popup-container">
            <div class="popup-card popup-involved">
              <!--<a href="/embassador"><%= t('header.embassador_program') %></a>-->
              <a href="/developer"><%= t('header.developer_program') %></a>
              <a href="/about"><%= t('header.about_us') %></a>
            </div>
          </div>
        </li>

        <% if user_signed_in? && user_admin? %>
          <li><a href="/markets"><%= t('header.markets') %></a></li>
          <li><a href="/users"><%= t('header.users') %></a></li>
        <% end %>

        <% if user_signed_in? %>
          <a href="/logout" type="button" class="btn-join"><%= t('header.logout') %></a>
        <% else %>
          <a href="/signup" type="button" class="btn-join"><%= t('header.join_us') %></a>
        <% end %>

        <div class="language">
          <span style="">
          <!--<img src="/img/<%= language_flag %>" class="flag off" alt="">-->
          <% if language_flag != 'flag-pt-br.svg' %>
            <a href="/?language=pt-br">
              <img src="/img/flag-pt-br.svg" class="flag" alt="">
            </a>
          <% else %>
            <img src="/img/flag-pt-br.svg" class="flag off" alt="">
          <% end %>

          <% if language_flag != 'flag-en.svg' %>
            <a href="/?language=en">
              <img src="/img/flag-en.svg" alt="" class="flag">
            </a>
          <% else %>
            <img src="/img/flag-en.svg" class="flag off" alt="">
          <% end %>

          <% if language_flag != 'flag-es.svg' %>
            <a href="/?language=es">
              <img src="/img/flag-es.svg" alt="" class="flag">
            </a>
          <% else %>
            <img src="/img/flag-es.svg" class="flag off" alt="">
          <% end %>
          </span>
          <!--
          <button type="button" class="btn-idioma">
            <img src="/img/<%= language_flag %>" alt="">
            <img src="/img/arrow-down.svg" class="arrow-down" alt="">
          </button>
          <div class="change-language">
            <% if language_flag != 'flag-pt-br.svg' %>
              <a href="/?language=pt-br">
                <img src="/img/flag-pt-br.svg" class="flag" alt="">
              </a>
            <% end %>

            <% if language_flag != 'flag-en.svg' %>
              <a href="/?language=en">
                <img src="/img/flag-en.svg" alt="" class="flag">
              </a>
            <% end %>

            <% if language_flag != 'flag-es.svg' %>
              <a href="/?language=es">
                <img src="/img/flag-es.svg" alt="" class="flag">
              </a>
            <% end %>
          </div>
          -->
        </div>
      </ul>
    </div>
  </div>
</div>
