<section class="filter-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('filter') %></h3>
        <div class="filter-cards">

          <a class="filter-card <%= filter_active('name')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="name"
            data-type="text"
            data-modal-title="<%= t('filters.name') %>"
            href="#"><i></i><%= t('filters.name') %></a>
          
          <a class="filter-card <%= filter_active('location')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="location"
            data-type="text"
            data-modal-title="<%= t('filters.location') %>"
            href="#"><i></i><%= t('filters.location') %></a>
          
          <!--
          <a class="filter-card <%= filter_active('description')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="description"
            data-type="text"
            data-modal-title="<%= t('filters.description') %>"
            href="#"><i></i><%= t('filters.description') %></a>
          -->

          <a class="filter-card <%= filter_active('employees_count')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="employees_count"
            data-type="range"
            data-modal-title="<%= t('filters.employees_count') %>"
            href="#"><i></i><%= t('filters.employees_count') %></a>

          <a class="filter-card <%= filter_active('status')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="status"
            data-type="select"
            data-modal-title="<%= t('filters.status') %>"
            data-autocomplete-data=<%= Hash[Company::STATUSES.map { |s| [s, t("filters.labels.status.#{s}")] }].to_json %>
            href="#"><i></i><%= t('filters.status') %></a>
          
          <a class="filter-card <%= filter_active('rounds_count')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="rounds_count"
            data-type="range"
            data-modal-title="<%= t('filters.rounds_count') %>"
            href="#"><i></i><%= t('filters.rounds_count') %></a>
          
          <a class="filter-card <%= filter_active('funds_raised')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="funds_raised"
            data-type="range_amount"
            data-modal-title="<%= t('filters.funds_raised') %>"
            href="#"><i></i><%= t('filters.funds_raised') %></a>
            
        </div>
        <% if params[:filter] %>
          <form id="filter-pills-form" action="/companies">
            <h4><%= t('filter_selected') %></h4>
            <div class="filter-pills">
              <span class="pills">
                <% params[:filter].each do |index, filter| %>
                  <% if filter[:operator] == 'in' %>
                    <% filter[:value].each do |value| %>
                      <span class="filter-pill" href="#">
                        <small><%= t('filters.'+filter[:type]) %></small>
                        <% if filter[:operator].present? %>
                          <%= '> ' if filter[:operator] == 'greater_than' %>
                          <%= '< ' if filter[:operator] == 'less_than' %>
                        <% end %>
                        <% if filter[:type].in?(%w[status]) %>
                          <%= value.present? ? t("filters.labels.#{filter[:type]}.#{value}") : '' %>
                        <% elsif filter[:type].in?(%w[funds_raised]) %>
                          <%= format_amount(value,  Deal::USD) %>
                        <% else %>
                          <%= value %>
                        <% end %>
                        <i></i>
                        <input
                          type="hidden"
                          name="filter[<%= index %>][type]"
                          value="<%= filter[:type] %>" />
                        <input 
                          type="hidden"
                          name="filter[<%= index %>][operator]"
                          value="<%= filter[:operator] %>" />
                        <input
                          type="hidden"
                          name="filter[<%= index %>][value][]"
                          value="<%= value %>"
                          data-subcategory="<%= filter[:type] %>"
                          data-type="<%= filter[:operator] %>" />
                      </span>
                    <% end %>
                  <% else %>
                    <span class="filter-pill" href="#">
                      <small><%= t('filters.'+filter[:type]) %></small>
                      <% if filter[:operator].present? %>
                        <%= '> ' if filter[:operator] == 'greater_than' %>
                        <%= '< ' if filter[:operator] == 'less_than' %>
                      <% end %>
                      <% if filter[:type].in?(%w[status]) %>
                        <%= filter[:value].present? ? t("filters.labels.#{filter[:type]}.#{filter[:value]}") : '' %>
                      <% elsif filter[:type].in?(%w[funds_raised]) %>
                        <%= format_amount(filter[:value],  Deal::USD) %>
                      <% else %>
                        <%= filter[:value] %>
                      <% end %>
                      <i></i>
                      <input
                        type="hidden"
                        name="filter[<%= index %>][type]"
                        value="<%= filter[:type] %>" />
                      <input 
                        type="hidden"
                        name="filter[<%= index %>][operator]"
                        value="<%= filter[:operator] %>" />
                      <input
                        type="hidden"
                        name="filter[<%= index %>][value]"
                        value="<%= filter[:value] %>"
                        data-subcategory="<%= filter[:type] %>"
                        data-type="<%= filter[:operator] %>" />
                    </span>
                  <% end %>
                <% end %>
              </span>
              <a class="filter-clear" href="#"><i class="far fa-trash-alt"></i>Clear all filters</a>
            </div>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="filterModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        <form id="filterModalForm"></form>
      </div>
      <div class="modal-footer" style="text-align: left;">
        <button type="button" class="btn btn-default acta" data-dismiss="modal">Clear filter</button>
        <button id="filterModalApplyButton" type="button" class="btn btn-primary cta"><%= t('deals.index.apply_filter') %></button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="modalFilter" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <h1 class="modal-title"><%= t('filters.add') %></h1>
      <div class="modal-header">
        <div class="control-breadcrumbs">
          <div class="controls">
            <button class="arrow-left disabled">
              <img src="/img/seta-esq-modal-filter.svg" alt="">
            </button>
            <button class="arrow-right disabled">
              <img src="/img/seta-dir-modal-filter.svg" alt="">
            </button>
          </div>
          <ul class="bread">
            <li class="one-category"></li>
            <li class="two-category"></li>
            <li class="three-category"></li>
            <li class="last-category"></li>
          </ul>
        </div>
      </div>
      <div class="modal-body">
        <div class="filter-geral">
          <div class="filter-value-placeholder" hidden><%= t('filters.value') %></div>
          <div class="level-filter sub-category">
            <ul>
              <li>
                <a href="" data-category="basic"><%= t('filters.basic') %><i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="level-filter last-sub-category">
            <ul>
              <li>
                <a href="" data-subcategory="name"
                           data-type="text-completion"
                           data-autocomplete-category="Name"
                           data-autocomplete-source="/companies/names">
                  <%= t('filters.name') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="location"
                           data-type="text-completion"
                           data-autocomplete-category="Location"
                           data-autocomplete-source="/companies/locations">
                  <%= t('filters.location') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="description" data-type="text">
                  <%= t('filters.description') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="employees_count" data-type="number">
                  <%= t('filters.employees_count') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="status"
                           data-type="select"
                           data-autocomplete-category="Status"
                           data-autocomplete-data=<%= Hash[Company::STATUSES.map { |s| [s, t("filters.labels.status.#{s}")] }].to_json %>>
                  <%= t('filters.status') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="rounds_count" data-type="number">
                  <%= t('filters.rounds_count') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="funds_raised" data-type="number">
                  <%= t('filters.funds_raised') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="" data-subcategory="tag" data-type="text-completion">
                  <%= t('filters.tags') %> <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="level-filter last-level-filter">
            <ul>
              <li><a href="" data-type="equal"><%= t('filters.operators.equal') %></a></li>
              <li><a href="" data-type="contains"><%= t('filters.operators.contains') %></a></li>
              <li><a href="" data-type="greater_than"><%= t('filters.operators.greater_than') %></a></li>
              <li><a href="" data-type="less_than"><%= t('filters.operators.less_than') %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
