<section class="filter-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('filter') %></h3>
        <div class="filter-cards">

          <a class="filter-card <%= filter_active('name')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="name"
            data-type="text"
            data-modal-title="<%= t('filters.name') %>"
            href="#"><i></i><%= t('filters.name') %></a>
          
          <!--
          <a class="filter-card <%= filter_active('location')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="location"
            data-type="text"
            data-modal-title="<%= t('filters.location') %>"
            href="#"><i></i><%= t('filters.location') %></a>
          -->
          
          <!--
          <a class="filter-card <%= filter_active('description')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="description"
            data-type="text"
            data-modal-title="<%= t('filters.description') %>"
            href="#"><i></i><%= t('filters.description') %></a>
          -->

          <!--
          <a class="filter-card <%= filter_active('employees_count')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="employees_count"
            data-type="range"
            data-modal-title="<%= t('filters.employees_count') %>"
            href="#"><i></i><%= t('filters.employees_count') %></a>
          -->

          <a class="filter-card <%= filter_active('status')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="status"
            data-type="select"
            data-modal-title="<%= t('filters.status') %>"
            data-autocomplete-data=<%= Hash[Company::STATUSES.map { |s| [s, t("filters.labels.status.#{s}")] }].to_json %>
            href="#"><i></i><%= t('filters.status') %></a>
          
          <!--
          <a class="filter-card <%= filter_active('rounds_count')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="rounds_count"
            data-type="range"
            data-modal-title="<%= t('filters.rounds_count') %>"
            href="#"><i></i><%= t('filters.rounds_count') %></a>
          -->
          
          <a class="filter-card <%= filter_active('funds_raised')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="funds_raised"
            data-type="range_amount"
            data-modal-title="<%= t('filters.funds_raised') %>"
            href="#"><i></i><%= t('filters.funds_raised') %></a>

          <a class="filter-card <%= filter_active('funding_type')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="funding_type"
            data-type="select"
            data-modal-title="<%= t('filters.funding_type') %>"
            data-autocomplete-data="<%= Hash[Deal::ROUNDS.map { |s| [s, t("filters.labels.funding_type.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.funding_type') %></a>
          
          <a class="filter-card <%= filter_active('tag')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="tag"
            data-type="select2"
            data-modal-title="<%= t('filters.tag') %>"
            data-autocomplete-data="<%= Hash[@markets.map { |market| [market.name, market.name] }].to_json %>"
            href="#"><i></i><%= t('filters.tag') %></a>
          
          <a class="filter-card <%= filter_active('location')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="location"
            data-type="select2"
            data-modal-title="<%= t('filters.location') %>"
            data-autocomplete-data="<%= Hash[Location.all.collect { |c| [c.full, c.full] }].to_json %>"
            href="#"><i></i><%= t('filters.location') %></a>

        </div>
        <% if params[:filter] %>
          <form id="filter-pills-form" action="/companies">
            <h4><%= t('filter_selected') %></h4>
            <div class="filter-pills">
              <span class="pills">
                <% params[:filter].each do |index, filter| %>
                  <% if filter[:operator] == 'in' %>
                    <% filter[:value].each do |value| %>
                      <span class="filter-pill" href="#">
                        <small><%= t('filters.'+filter[:type]) %></small>
                        <% if filter[:operator].present? %>
                          <%= '> ' if filter[:operator] == 'greater_than' %>
                          <%= '< ' if filter[:operator] == 'less_than' %>
                        <% end %>
                        <% if filter[:type].in?(%w[status funding_type]) %>
                          <%= value.present? ? t("filters.labels.#{filter[:type]}.#{value}") : '' %>
                        <% elsif filter[:type].in?(%w[funds_raised]) %>
                          <%= format_amount(value,  Deal::USD) %>
                        <% else %>
                          <%= value %>
                        <% end %>
                        <i></i>
                        <input
                          type="hidden"
                          name="filter[<%= index %>][type]"
                          value="<%= filter[:type] %>" />
                        <input 
                          type="hidden"
                          name="filter[<%= index %>][operator]"
                          value="<%= filter[:operator] %>" />
                        <input
                          type="hidden"
                          name="filter[<%= index %>][value][]"
                          value="<%= value %>"
                          data-subcategory="<%= filter[:type] %>"
                          data-type="<%= filter[:operator] %>" />
                      </span>
                    <% end %>
                  <% else %>
                    <span class="filter-pill" href="#">
                      <small><%= t('filters.'+filter[:type]) %></small>
                      <% if filter[:operator].present? %>
                        <%= '> ' if filter[:operator] == 'greater_than' %>
                        <%= '< ' if filter[:operator] == 'less_than' %>
                      <% end %>
                      <% if filter[:type].in?(%w[status funding_type]) %>
                        <%= filter[:value].present? ? t("filters.labels.#{filter[:type]}.#{filter[:value]}") : '' %>
                      <% elsif filter[:type].in?(%w[funds_raised]) %>
                        <%= format_amount(filter[:value],  Deal::USD) %>
                      <% else %>
                        <%= filter[:value] %>
                      <% end %>
                      <i></i>
                      <input
                        type="hidden"
                        name="filter[<%= index %>][type]"
                        value="<%= filter[:type] %>" />
                      <input 
                        type="hidden"
                        name="filter[<%= index %>][operator]"
                        value="<%= filter[:operator] %>" />
                      <input
                        type="hidden"
                        name="filter[<%= index %>][value]"
                        value="<%= filter[:value] %>"
                        data-subcategory="<%= filter[:type] %>"
                        data-type="<%= filter[:operator] %>" />
                    </span>
                  <% end %>
                <% end %>
              </span>
              <a class="filter-clear" href="#"><i class="far fa-trash-alt"></i><%= t('filter_clear_all') %></a>
            </div>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="filterModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        <form id="filterModalForm"></form>
      </div>
      <div class="modal-footer" style="text-align: left;">
        <button id="filterModalClearButton" type="button" class="btn btn-default acta" data-dismiss="modal"><%= t('filter_clear') %></button>
        <button id="filterModalApplyButton" type="button" class="btn btn-primary cta"><%= t('filter_apply') %></button>
      </div>
    </div>
  </div>
</div>
