<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |error| %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
  <% end %>
<% end %>

<div class="form-group">
  <div class="checkbox">
    <label>
      <%= f.check_box(:investor, { checked: @company.investor?, disabled: @company.persisted? && @company.investor? }, true, false ) %>
      <span class="cr"><i class="fas fa-check"></i></span><%= 'Investor' %>
    </label>
  </div>
</div>
<div class="form-group">
  <%= f.label :name, t('companies.form.name') %>
  <%= f.text_field :name, placeholder: t('companies.form.name') %>
</div>
<div class="form-group input-group">
  <span style="padding-right: 1em; display: table-cell; position: relative;">
    <%= f.label :employees_count, t('companies.form.employees_count') %>
    <%= f.text_field(:employees_count, placeholder: t('companies.form.employees_count'), class: 'form-control', pattern: '\d*', title: 'Only digits') %>
  </span>
  <span>
    <%= f.label :founded_on, t('companies.form.date_founded') %>
    <%= f.text_field :founded_on, placeholder: t('companies.form.date_founded'), class: 'form-control datepicker' %>
  </span>
</div>
<div class="form-group input-group">
  <span style="padding-right: 1em; display: table-cell; position: relative;">
    <%= f.label :phone_number, t('companies.form.phone_number') %>
    <%= f.text_field :phone_number, placeholder: t('companies.form.phone_number'), class: 'form-control' %>
  </span>
  <span>
    <%= f.label :homepage_url, t('companies.form.website_url') %>
    <%= f.text_field :homepage_url, placeholder: t('companies.form.website_url'), class: 'form-control' %>
  </span>
</div>
<div class="form-group">
  <%= f.label :contact_email, t('companies.form.email') %>
  <%= f.text_field :contact_email, placeholder: t('companies.form.email'), class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :market_ids, t('companies.form.market') %>
  <%= f.select( :market_ids,
                @markets.collect { |c| [c.name, c.id] },
                { prompt: t('companies.form.market') },
                { class: 'select2',
                  title: t('companies.form.market'),
                  multiple: true }) %>
</div>
<div class="form-group">
  <%= f.label :description, t('companies.form.description') %>
  <%= f.text_area :description, placeholder: t('companies.form.description'), rows: 6 %>
</div>
<div class="form-group">
  <%= f.label :facebook_url, t('companies.form.add_facebook') %>
  <div class="input-group social">
    <span class="input-group-addon"><img src="/img/facebook-gray.svg" alt=""></span>
    <%= f.text_field :facebook_url, placeholder: t('companies.form.add_facebook'), class: 'form-control', 'aria-label' => 'Username', pattern: 'https?://.+', title: 'Only valid URLs' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :twitter_url, t('companies.form.add_twitter') %>
  <div class="input-group social">
    <span class="input-group-addon"><img src="/img/twitter-gray.svg" alt=""></span>
    <%= f.text_field :twitter_url, placeholder: t('companies.form.add_twitter'), class: 'form-control', 'aria-label' => 'Username', pattern: 'https?://.+', title: 'Only valid URLs' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :linkedin_url, t('companies.form.add_linkedin') %>
  <div class="input-group social">
    <span class="input-group-addon"><img src="/img/linkedin-gray.png" alt=""></span>
    <%= f.text_field :linkedin_url, placeholder: t('companies.form.add_linkedin'), class: 'form-control', 'aria-label' => 'Username', pattern: 'https?://.+', title: 'Only valid URLs' %>
  </div>
</div>

<h1 class="title-social"><%= t('companies.show.locations') %></h1>
<div style="padding-bottom: 1em;">
  <%= f.fields_for :company_locations do |builder| %>
    <%= render 'company_location_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add location", f, :company_locations %>
</div>

<div class="form-group">
  <%= f.submit t('companies.form.send') %>
</div>
