<section class="form-create">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <a href="<%= url_for(:back) %>" class="btn-back"><i class="fas fa-arrow-left"></i> <%= t('companies.show.back') %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h1 class="title"><%= t('companies.form.edit_company') %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5">
        <%= form_for @company, url: { action: 'update' , id: @company.permalink }, method: :put do |f| %>
          <%= render partial: 'form', locals: { f: f } %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="text-featured">
          <h1></h1>
          <p></p>
          <img src="/img/img-featured-company.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
