<section class="s-title-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7">
        <h1><%= t('companies.index.companies') %></h1>
        <h2><%= @companies.length %> <%= t('index.itens') %></h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <a href="/companies/new"><%= t('companies.index.new') %></a>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'filters' %>

<section class="s-table-results">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="results">
          <%= page_entries_info @companies_paginated, entry_name: t('companies.index.company') %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <a href="/companies.xlsx" class="btn-export">
          <img src="/img/download.svg" alt="">
          <%= t('companies.index.export') %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <%= render partial: 'shared/flash_messages' %>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 25px;"></th>
                <%= render partial: 'shared/sortable_header',
                           locals: {
                             url: companies_path,
                             label: t('companies.index.column_company'),
                             type: 'name',
                             order: params[:order]
                           } %>

                <%= render partial: 'shared/sortable_header',
                           locals: {
                             url: companies_path,
                             label: t('companies.index.column_status'),
                             type: 'status',
                             order: params[:order]
                           } %>

                <th> <%= t('companies.index.column_location') %>  </th>
                <th> <%= t('companies.index.column_deals') %>  </th>
                <!--<th><%= t('filters.funds_raised') %></th>-->
                <%= render partial: 'shared/sortable_header',
                           locals: {
                             url: companies_path,
                             label: t('filters.funds_raised'),
                             type: 'funds_raised',
                             order: params[:order]
                           } %>
                <th style="width: 25px;"></th>
              </tr>
            </thead>
            <tbody>
              <% @companies_paginated.each do |company| %>
                <tr class="clickable-row" data-href=<%= "/companies/#{company.permalink}" %>>
                  <td><img src="<%= company.profile_image_url || '/img/companies.svg' %>"></td>
                  <td><%= company.name %></td>
                  <td class="status-active"><%= t("companies.show.status.#{company.status}") %></td>
                  <td class="column-location"><%= company.locations_plain %><%= t("empty_state") if company.locations_plain.blank? %></td>
                  <td>
                    <%= company.deals.map(&:category).uniq.map { |category| I18n.t("deals.model.categories.#{category}") }.join(', ') %><br>
                    <%#= company.deals.map(&:round).uniq.map { |round| I18n.t("deals.form.rounds.#{round}") if round.present? }.compact.join(', ') %>
                  </td>
                  <td><%= format_amount(company.deals.sum(:amount_dolar), 'USD') %></td>
                  <td><a href=<%= "/companies/#{company.permalink}" %>><i class="fas fa-arrow-right"></i></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= paginate @companies_paginated %>
      </div>
    </div>
  </div>
</section>
