<% @page_title = "Dealbook - #{@company.name} page"%>
<%= render partial: 'companies/show/header' %>

<section class="details-gerals">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="description">
          <h1>
            <img src="/img/description.svg" alt="">
            <%= t('companies.show.description') %>
          </h1>
          <p><%= @company.description %><%= t("empty_state") if @company.description.blank? %></p>
          <ul class="info-contact">
            <li>
              <p>
                <strong><%= t('companies.show.founded') %>:</strong> <%= @company.founded_on %><%= t("empty_state") if @company.founded_on.blank? %>
              </p>
            </li>
            <li>
              <p>
                <strong><%= t('companies.show.contact') %>:</strong> <%= @company.phone_number %><%= t("empty_state") if @company.phone_number.blank? %>
              </p>
            </li>
            <li>
              <p>
                <strong><%= t('companies.show.mail') %>:</strong> <%= @company.contact_email %><%= t("empty_state") if @company.contact_email.blank? %>
              </p>
            </li>
          </ul>
          <div class="social">
            <h1><%= t('companies.show.media') %></h1>

            <% if @company.social_media? %>
              <ul>
                <% if @company.facebook_url %>
                  <li>
                    <a href="<%= @company.facebook_url %>"
                       target="_blank">
                      <img src="/img/facebook-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @company.twitter_url %>
                  <li>
                    <a href="<%= @company.twitter_url %>"
                       target="_blank">
                      <img src="/img/twitter-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @company.google_plus_url %>
                  <li>
                    <a href="<%= @company.google_plus_url %>"
                       target="_blank">
                      <img src="/img/google-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @company.linkedin_url %>
                  <li>
                    <a href="<%= @company.linkedin_url%>"
                       target="_blank">
                      <img src="/img/linkedin-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <%= t('investor.show.media_empty') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="tables-info-company" id="accordion">
          <%= render partial: 'companies/show/investments' %>

          <%= render partial: 'companies/show/investors' %>

          <%= render partial: 'companies/show/people' %>

          <%= render partial: 'companies/show/invested' %>
          
        </div>
      </div>
    </div>
  </div>
</section>
