<script>
  (function() {
    /* Libraries */
    var modal_tag = document.createElement("script");
    modal_tag.setAttribute("type", "text/javascript");
    modal_tag.setAttribute("src", "https://cdnjs.cloudflare.com/ajax/libs/tingle/0.14.0/tingle.min.js");

    var modal_css = document.createElement("link");
    modal_css.setAttribute("rel", "stylesheet");
    modal_css.setAttribute("href", "https://cdnjs.cloudflare.com/ajax/libs/tingle/0.14.0/tingle.min.css");

    document.documentElement.appendChild(modal_tag);
    document.documentElement.appendChild(modal_css);

    setTimeout(renderWidget, 200);

    /* Render modal and open buttons */
    function renderWidget() {
      var modal = new tingle.modal({
        footer: false,
        closeMethods: ["overlay"],
        cssClass: ["dealbook-modal"],
      });

      modal.setContent('<div class="dealbook-modal" id="dealbook-company-modal"> <div class="dealbook-modal__inner"> <div class="dealbook-modal__header"> Overview </div> <div class="dealbook-modal__content-test"> </div> <div class="dealbook-modal__content"> <div class="dealbook-miniprofile"> <div class="dealbook-miniprofile__img-col"> <img class="dealbook-miniprofile__img" src="<%= image_url || "" %>"/> </div> <div class="dealbook-miniprofile__content-col"> <h3><%= name %></h3> <h4><%= location %></h4> <h4><%= t("widget.founded") %> <%= born_at %></h4> </div> </div> <div class="dealbook-description"> <%= description %>  </div> <div class="dealbook-company"> <% if last_funding_type.present? %> <h4><%= t("widget.last_funding") %></h4> <%= last_funding_type %> <% end %> </div> <div class="dealbook-funding"> <% if last_funding_value.present? %> <h4><%= t("widget.value") %></h4> <%= "$#{last_funding_value}" %> <% end %> </div> </div> <div class="dealbook-modal__footer"> <a class="dealbook-footer__btn" href="https://dealbook-prod.herokuapp.com/companies/<%= permalink %>" target="_blank"> <%= t("widget.full_profile") %></a> </div> </div> </div>');

      document.getElementById("dealbook-company__name").onmouseover = function() {
        modal.open();
      };
    }
  })();
</script>

<style type="text/css">
  .dealbook-modal {
    border-radius: 2px;
    font-family: "Museo Sans", sans-serif;
  }

  .dealbook-modal .tingle-modal-box {
    width: 460px;
  }

  .dealbook-modal__header {
    padding: 16px 32px;
    border-bottom: 1px solid #CCCCCC;
    color: #354D96;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: 600;
  }

  .dealbook-modal__content {
    padding: 32px;
  }

  .dealbook-modal__content h4 {
    color: #8C8C8C;
    font-family: "Museo Sans", sans-serif;
    font-weight: 400;
  }

  .dealbook-modal__content h3 {
    color: #363C4A;
    font-weight: 500;
  }

  .dealbook-modal__content .dealbook-miniprofile__img {
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
    margin: 16px;
  }

  .dealbook-miniprofile__img-col {
    float: left;
    width: 30%;
  }

  .dealbook-miniprofile__content-col {
    float: left;
    width: 70%;
    margin-bottom: 16px;
  }

  .dealbook-modal__content .dealbook-description {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .dealbook-modal__content .dealbook-company {
    color: #363C4A;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 0;
  }

  .dealbook-modal__content .dealbook-funding {
    color: #363C4A;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
  }

  .dealbook-modal__footer {
    padding: 32px;
    border-top: 1px solid #CCCCCC;
  }

  .dealbook-modal__footer .dealbook-footer__btn {
    background-color: #2CC9C2;
    border-radius: 2px;
    padding: 16px 32px;
    color: #FFFFFF;
    font-weight: 100;
  }

  #dealbook-company__name {
    text-decoration-line: underline;
    text-decoration-color: #f1f1f1;

    font-family: inherit;
    font-weight: inherit;
    color: #354D96;
  }

  @media screen and (max-width: 450px) {
    .dealbook-miniprofile__content-col {
      width: 100%;
      margin-bottom: 16px;
    }
  }
</style>

<span id="dealbook-company__name"><%= name %></span>
