<style></style>
<section class="filter-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('filter') %></h3>
        <div class="filter-cards">

          <a class="filter-card <%= filter_active('status')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="status"
            data-type="radio"
            data-modal-title="<%= t('filters.status') %>"
            data-autocomplete-data="<%= Hash[Deal::STATUSES.map { |s| [s, t("filters.labels.status.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.status') %></a>
          
          <a class="filter-card <%= filter_active('category')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="category"
            data-type="select"
            data-modal-title="<%= t('filters.category') %>"
            data-autocomplete-data="<%= Hash[Deal::CATEGORIES.map { |s| [s, t("filters.labels.category.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.category') %></a>
          
          <a class="filter-card <%= filter_active('funding_type')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="funding_type"
            data-type="select"
            data-modal-title="<%= t('filters.funding_type') %>"
            data-autocomplete-data="<%= Hash[Deal::ROUNDS.map { |s| [s, t("filters.labels.funding_type.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.funding_type') %></a>

          <a class="filter-card <%= filter_active('amount')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="amount"
            data-type="range_amount"
            data-modal-title="<%= t('filters.amount') %>"
            href="#"><i></i><%= t('filters.amount') %></a>
          
          <!--<a class="filter-card <%= filter_active('date')%>"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="date"
            data-type="text"
            data-modal-title="Close data"
            href="#"><i></i>Close date</a>-->
        </div>
        <% if params[:filter] %>
          <form id="filter-pills-form" action="/deals">
            <h4><%= t('filter_selected') %></h4>
            <div class="filter-pills">
              <span class="pills">
                <% params[:filter].each do |index, filter| %>
                  <% if filter[:operator] == 'in' %>
                    <% filter[:value].each do |value| %>
                      <span class="filter-pill" href="#">
                        <small><%= t('filters.'+filter[:type]) %></small>
                        <% if filter[:operator].present? %>
                          <%= '> ' if filter[:operator] == 'greater_than' %>
                          <%= '< ' if filter[:operator] == 'less_than' %>
                        <% end %>
                        <% if filter[:type].in?(%w[status category funding_type]) %>
                          <%= value.present? ? t("filters.labels.#{filter[:type]}.#{value}") : '' %>
                        <% elsif filter[:type].in?(%w[amount]) %>
                          <%= format_amount(value,  Deal::USD) %>
                        <% else %>
                          <%= value %>
                        <% end %>
                        <i></i>
                        <input
                          type="hidden"
                          name="filter[<%= index %>][type]"
                          value="<%= filter[:type] %>" />
                        <input 
                          type="hidden"
                          name="filter[<%= index %>][operator]"
                          value="<%= filter[:operator] %>" />
                        <input
                          type="hidden"
                          name="filter[<%= index %>][value][]"
                          value="<%= value %>"
                          data-subcategory="<%= filter[:type] %>"
                          data-type="<%= filter[:operator] %>" />
                      </span>
                    <% end %>
                  <% else %>
                    <span class="filter-pill" href="#">
                      <small><%= t('filters.'+filter[:type]) %></small>
                      <% if filter[:operator].present? %>
                        <%= '> ' if filter[:operator] == 'greater_than' %>
                        <%= '< ' if filter[:operator] == 'less_than' %>
                      <% end %>
                      <% if filter[:type].in?(%w[status category funding_type]) %>
                        <%= filter[:value].present? ? t("filters.labels.#{filter[:type]}.#{filter[:value]}") : '' %>
                      <% elsif filter[:type].in?(%w[amount]) %>
                        <%= format_amount(filter[:value],  Deal::USD) %>
                      <% else %>
                        <%= filter[:value] %>
                      <% end %>
                      <i></i>
                      <input
                        type="hidden"
                        name="filter[<%= index %>][type]"
                        value="<%= filter[:type] %>" />
                      <input 
                        type="hidden"
                        name="filter[<%= index %>][operator]"
                        value="<%= filter[:operator] %>" />
                      <input
                        type="hidden"
                        name="filter[<%= index %>][value]"
                        value="<%= filter[:value] %>"
                        data-subcategory="<%= filter[:type] %>"
                        data-type="<%= filter[:operator] %>" />
                    </span>
                  <% end %>
                <% end %>
              </span>
              <a class="filter-clear" href="#"><i class="far fa-trash-alt"></i>Clear all filters</a>
            </div>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="filterModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        <form id="filterModalForm">

          <div class="radio">
            <label>
              <input type="radio" name="o3" value="">
              <span class="cr"><i class="fa fa-circle"></i></span>
              Option one
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="cat1" name="category">
              <span class="cr"><i class="fas fa-check"></i></span>
              Categoria
            </label>
          </div>

          <%# <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
          </p>
          
          <div id="slider-range"></div> %>

        </form>
      </div>
      <div class="modal-footer" style="text-align: left;">
        <button id="filterModalClearButton" type="button" class="btn btn-default acta" data-dismiss="modal"><%= t('filter_clear') %></button>
        <button id="filterModalApplyButton" type="button" class="btn btn-primary cta"><%= t('filter_apply') %></button>
      </div>
    </div>
  </div>
</div>
