<section class="filter-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('filter') %></h3>
        <div class="filter-cards">

          <a class="filter-card <%= filter_active('status')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="status"
            data-type="select"
            data-modal-title="<%= t('filters.status') %>"
            data-autocomplete-data="<%= Hash[Investor::STATUSES.map { |s| [s, t("filters.labels.status.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.status') %></a>
          
          <a class="filter-card <%= filter_active('tag')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="tag"
            data-type="select"
            data-modal-title="<%= t('filters.tag') %>"
            data-autocomplete-data="<%= Hash[Investor::TAGS.map { |s| [s, t("filters.labels.tag.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.tag') %></a>
          
          <!--<a class="filter-card <%= filter_active('stage')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="stage"
            data-type="select"
            data-modal-title="<%= t('filters.stage') %>"
            data-autocomplete-data="<%= Hash[Investor::STAGES.map { |s| [s, t("filters.labels.stage.#{s}")] }].to_json %>"
            href="#"><i></i><%= t('filters.stage') %></a>-->

          <a class="filter-card <%= filter_active('number_of_deals')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="number_of_deals"
            data-type="range"
            data-modal-title="<%= t('filters.number_of_deals') %>"
            href="#"><i></i><%= t('filters.number_of_deals') %></a>
          
          <a class="filter-card <%= filter_active('total_funds_invested')%>"
            style="flex-grow: 1;"
            data-toggle="modal"
            data-target="#filterModal"
            data-subcategory="total_funds_invested"
            data-type="range_amount"
            data-modal-title="<%= t('filters.total_funds_invested') %>"
            href="#"><i></i><%= t('filters.total_funds_invested') %></a>
        </div>
        <% if params[:filter] %>
          <form id="filter-pills-form" action="/investors">
            <h4><%= t('filter_selected') %></h4>
            <div class="filter-pills">
              <span class="pills">
                <% params[:filter].values.each_with_index do |filter, index| %>
                  <span class="filter-pill" href="#">
                    <small><%= t('filters.'+filter[:type]) %></small>
                    <% if filter[:operator].present? %>
                      <%= '> ' if filter[:operator] == 'greater_than' %>
                      <%= '< ' if filter[:operator] == 'less_than' %>
                    <% end %>
                    <% if filter[:type].in?(%w[status tag stage]) %>
                      <%= filter[:value].present? ? t("filters.labels.#{filter[:type]}.#{filter[:value]}") : '' %>
                    <% elsif filter[:type].in?(%w[total_funds_invested]) %>
                      <%= format_amount(filter[:value],  Deal::USD) %>
                    <% else %>
                      <%= filter[:value] %>
                    <% end %>
                    <i></i>
                    <input
                      type="hidden"
                      name="filter[<%= index %>][type]"
                      value="<%= filter[:type] %>" />
                    <input 
                      type="hidden"
                      name="filter[<%= index %>][operator]"
                      value="<%= filter[:operator] %>" />
                    <input
                      type="hidden"
                      name="filter[<%= index %>][value]"
                      value="<%= filter[:value] %>"
                      data-subcategory="<%= filter[:type] %>"
                      data-type="<%= filter[:operator] %>" />
                  </span>
                <% end %>
              </span>
              <a class="filter-clear" href="#"><i class="far fa-trash-alt"></i>Clear all filters</a>
            </div>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="filterModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        <form id="filterModalForm"></form>
      </div>
      <div class="modal-footer" style="text-align: left;">
        <button type="button" class="btn btn-default acta" data-dismiss="modal">Clear filter</button>
        <button id="filterModalApplyButton" type="button" class="btn btn-primary cta"><%= t('deals.index.apply_filter') %></button>
      </div>
    </div>
  </div>
</div>
