<section class="s-title-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7">
        <h1><%= t('investor.index.investors') %></h1>
        <!--<h2><%= t('investor.index.investors') %></h2>-->
      </div>
    </div>
  </div>
</section>

<%= render partial: 'filters' %>

<section class="s-table-results">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="results">
          <%= pluralize @investors.length, t('investor.index.investor'), t('investor.index.investors') %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <a href="/investors.xlsx" class="btn-export">
          <img src="/img/export.svg" alt="">
          <%= t('investor.index.export') %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/flash_messages' %>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 25px;"></th>
                <th><%= t('investor.index.column_name') %></th>
                <%= render 'shared/sortable_header', url: investors_path,
                                                     label: t('investor.index.column_number_of_investments'),
                                                     style: 'width: 16em;',
                                                     type: 'number_of_deals',
                                                     order: params[:order] %>
                <th><%= t('investor.index.column_location') %> </th>
                <th><%= t('investor.show.tag') %></th>
                <th style="width: 25px;"></th>
              </tr>
            </thead>
            <tbody>
              <% @investors_paginated.each do |investor| %>
                <tr class="clickable-row" data-href=<%= "/investors/#{investor.permalink}" %>>
                  <td><img src="/img/investors.svg" alt=""></td>
                  <td><%= investor.investable.name %></td>
                  <td style="text-align: center;"><%= investor.number_of_deals %></td>
                  <td class="column-location"><%= investor.investable.locations.pluck(:city, :country).map { |c| c.join(', ') }.join('/ ') %></td>
                  <td><%= investor.tag ? t("investor.show.categories.#{investor.tag}") : '' %></td>
                  <td><a href="/investors/<%= investor.permalink %>"><img src="/img/seta-dir.svg" alt=""></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= paginate @investors_paginated %>
      </div>
    </div>
  </div>
</section>
