<section class="s-title-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7">
        <h1><%= t('investor.index.investors') %></h1>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <h2>Ranking</h2>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'ranking_filters' %>

<section class="s-table-results">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="results">
          <%= pluralize @investors.length, t('investor.index.investor'),
                                           t('investor.index.investors') %>
        </p>
      </div>

      <div class="col-md-6">
        <a href="/investors.xls" class="btn-export">
          <img src="/img/export.svg" alt="">
          <%= t('investor.index.export') %>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/flash_messages' %>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><%= t('investor.index.column_name') %> </th>
                <th><%= t('investor.index.column_number_of_investments') %> </th>
                <th><%= t('investor.index.column_invested_capital') %> </th>
                <th><%= t('investor.index.column_location') %> </th>

                <%# TODO: Add reviews invformation when finished %>
                <%# <th>Número de avaliações - I18n</th> %>
                <%# <th>Avaliação média - I18n</th> %>
              </tr>
            </thead>
            <tbody>
              <% @investors.each do |investor| %>
                <tr id="<%= "/investors/#{investor.permalink}" %>"
                    class="investor__row" >
                  <td>
                    <img src="/img/logo-investors.png">
                    <%= investor.investable.name %>
                  </td>
                  <td><%= investor.deals_count %></td>
                  <td><%= format_amount(investor.invested_capital, investor.amount_currency) %></td>
                  <td><%= investor.formatted_location %></td>

                  <%# TODO: Add reviews invformation when finished %>
                  <%# <td>Número de avaliações - I18n</td> %>
                  <%# <td>Avaliação média - I18n</td> %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <%= paginate @investors %>
    </div>
  </div>
</section>
