<section class="top-section-detail-investor">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <a href="<%= url_for(:back) %>" class="btn-back">
          <i class="fas fa-arrow-left"></i> <%= t('investor.show.back') %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="detail-investor-geral">
          <div class="status-name">
            <div class="status active">
            <span class="circle"></span> <%= @investor.status ? t("investor.show.status.#{@investor.status}") : t("empty_state") %>
          </div>
          <h1> <%= @investor.investable.name %></h1>
          <h2 class="tag">
            <img src="/img/clock.svg" alt="">
            <%= t('investor.show.tag') %>: <%= @investor.tag ? t("investor.show.categories.#{@investor.tag}") : t("empty_state") %>
            <% if user_admin? || user_moderator? %>
              <a href="/investors/<%= @investor.permalink %>/edit"
                 class="btn btn-default"><%= t('deals.show.edit') %></a>
            <% end %>
          </h2>

          </div>
          <div class="info-geral">
            <div class="item">
              <h3><%= @investor.deals.count %></h3>
              <span><%= t('investor.show.investments') %></span>
            </div>
            <div class="item">
              <h3><%= @investor.deals.map(&:company).uniq.count %></h3>
              <span><%= t('investor.show.companies') %></span>
            </div>
            <div class="item">
              <h3><%= format_amount(@investor.deals.map(&:amount).compact.sum) %></h3>
              <span><%= t('investor.show.funds_raised') %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="details-gerals">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="description">
          <h1>
            <img src="/img/description.svg" alt="">
            <%= t('investor.show.description') %>
          </h1>
          <p><%= @investor.investable.description %><%= t("empty_state") if @investor.investable.description.blank? %></p>
          <ul class="info-contact">
            <li>
              <p>
                <strong><%= t('investor.show.site') %>:</strong>
                <a href="<%= @investor.investable.website_url %>" target="_blank"><%= @investor.investable.website_url %></a>
                <%= t("empty_state") if @investor.investable.website_url.blank? %>
              </p>
            </li>

            <li>
              <p>
                <strong><%= t('investor.show.founded') %>:</strong>
                <%= @investor.investable.born_date %>
                <%= t("empty_state") if @investor.investable.born_date.blank? %>
              </p>
            </li>
          </ul>
          <div class="social">
            <h1><%= t('investor.show.media') %></h1>

            <% if @investor.investable.social_media? %>
              <ul>
                <% if @investor.investable.facebook_url %>
                  <li>
                    <a href="<%= @investor.investable.facebook_url %>" target="_blank">
                      <img src="/img/facebook-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @investor.investable.twitter_url %>
                  <li>
                    <a href="<%= @investor.investable.twitter_url %>" target="_blank">
                      <img src="/img/twitter-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>

                <% if @investor.investable.linkedin_url %>
                  <li>
                    <a href="<%= @investor.investable.linkedin_url %>" target="_blank">
                      <img src="/img/linkedin-colorido.svg" alt="">
                    </a>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <%= t('investor.show.media_empty') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="tables-info-company">
          <% if @investor.deals.any? %>
            <%= render partial: 'investors/show/investments' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
