<section class="s-title-faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>FAQ</h1>
      </div>
    </div>
  </div>
</section>
<section class="s-faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="all-questions">
          <div class="item">
            <h1><%= t('faq.question_1') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_1') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_2') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_2') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_3') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_3') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_4') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_4') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_5') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_5') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_6') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_6') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_7') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_7') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_8') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_8') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_9') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_9') %></p>
            </div>
          </div>
          <div class="item">
            <h1><%= t('faq.question_10') %></h1>
            <img src="/img/seta.svg" alt="">
            <div class="answers">
              <p><%= t('faq.answer_10') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
