<section class="s-title-page" style="padding: 60px 0px 90px 0px">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7">
        <h1><%= t('markets.index.markets') %></h1>
        <h2><%= @markets.count %> <%= t('markets.index.markets') %></h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <a href="/markets/new"><%= t('markets.index.new') %></a>
      </div>
    </div>
  </div>
</section>

<section class="s-table-results">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="results">
          <%= page_entries_info @markets_paginated, entry_name: t('markets.index.display') %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'shared/flash_messages' %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Created at</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @markets_paginated.each do |market| %>
                <tr>
                  <td><%= market.name %></td>
                  <td><%= I18n.l(market.created_at, format: :default) %></td>
                  <td>
                    <a class="btn btn-default" href="/markets/<%= market.id %>/edit">Edit</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @markets_paginated %>
      </div>
    </div>
  </div>
</section>
