<section class="details-company">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <a href="<%= url_for(:back) %>" class="btn-back">
          <i class="fas fa-arrow-left"></i>  <%= t('companies.show.back') %>
        </a>
        <div class="company">
          <div class="name-company">
            <div class="logo">
              <img
                src="<%= @company.get_profile_avatar %>"
                onerror="this.src='/img/companies.svg'"
                class="img-responsive"
                style="width:100%"
                alt=""
              />
            </div>
            <div class="text">
              <h1><%= @company.name %></h1>
              <span class="status status-active">
                <div class="circle"></div>
                <span><%= t("companies.show.status.#{@company.status}") %></span>
              </span>
            </div>
          </div>
          <% if user_admin? || user_moderator? %>
            <a href="/companies/<%= @company.permalink %>/edit" class="btn-edit"><img src="/img/edit.svg" alt="">
              <%= t('companies.show.edit') %></a>
          <% end %>
          <% if current_user.present? %>
            <div class="btn-widget">
              <img src="/img/edit.svg" alt="">
              <%= link_to t('companies.show.widget'), widget_company_path(@company.permalink),
                                                      class: 'btn-widget__link modal-trigger',
                                                      data: { type: :script },
                                                      remote: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info-web-location">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul>
          <li>
            <strong><%= t('companies.show.site') %></strong>
            <a href="<%= @company.homepage_url %>" target="_blank"><%= @company.homepage_url %></a>
            <%= t("empty_state") if @company.homepage_url.blank? %>
          </li>
          <li>
            <strong><%= t('companies.show.locations') %></strong>
            <span><%= @company.locations_plain %><%= t("empty_state") if @company.locations_plain.blank? %></span>
          </li>
          <li>
            <strong><%= t('companies.show.tags') %></strong>
            <span><%= @company.markets.map(&:name).uniq.join(', ') %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<% if @company.investor? %>
<section>
  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h2 class="tag">
          <img src="/img/clock.svg" alt="">
          <%= t('investor.show.investor_type') %>: <%= @company.investor.tag ? t("investor.show.categories.#{@company.investor.tag}") : t("empty_state") %>
        </h2>
        <div class="info-geral">
          <div class="item">
            <h3><%= @company.investor.deals.count %></h3>
            <span><%= t('investor.show.investments') %></span>
          </div>
          <div class="item">
            <h3><%= @company.investor.deals.map(&:company).uniq.count %></h3>
            <span><%= t('investor.show.companies') %></span>
          </div>
          <div class="item">
            <h3><%= format_amount(@company.investor.deals.map(&:amount).compact.sum) %></h3>
            <span><%= t('investor.show.funds_raised') %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
