<%# if @investors.any? %>
  <!--<div class="item investors">-->
    <h1 class="title-accordion"><img src="/img/investors.svg" alt=""><%= t('companies.show.investors.investors') %></h1>
<% if @investors.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t('companies.show.investors.name') %></th>
            <th><%= t('companies.show.investors.round') %></th>
          </tr>
        </thead>
        <tbody>
          <% @investors.each do |investor| %>
            <tr>
              <td>
                <strong>
                  <a href="/investors/<%= investor.permalink %>" style="float: none;"><%= investor.name %></a>
                </strong>
              </td>
              <td><%= investor.stage ? investor.stage : t("empty_state") %></td>
              <td><a href="/investors/<%= investor.permalink %>"><i class="fas fa-arrow-right"></i></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <!--</div>-->
<% else %>
  <div style="border-radius: 12px; background: white; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.16); margin-bottom: 60px;">
    Don't have
  </div>
<% end %>
