<%# if @company.deals.any? %>
<!--<div class="item">-->
<h1 class="title-accordion"><img src="/img/investments.svg" alt=""><%= t('companies.show.deals.investments') %></h1>
<% if @company.deals.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t('companies.show.deals.close_date') %></th>
            <th><%= t('companies.show.deals.company') %></th>
            <th><%= t('companies.show.deals.deal_type') %></th>
            <th><%= t('companies.show.deals.round') %></th>
            <th style="text-align: center;"><%= t('companies.show.deals.amount') %></th>
            <th style="text-align: center;"><%= t('companies.show.deals.pre_money') %></th>
            <th style="width: 25px;"></th>
          </tr>
        </thead>
        <tbody>
          <% @company.deals.each do |deal| %>
            <tr>
              <td><strong><%= I18n.l(deal.close_date, format: :default) %></strong></td>
              <td><a href="/companies/<%= @company.permalink %>" style="float: none;"><%= @company.name %></a></td>
              <td><%= I18n.t("deals.model.categories.#{deal.category}") %></td>
              <td><%= deal.round ? I18n.t("deals.form.rounds.#{deal.round}") : t("empty_state") %></td>
              <td style="text-align: center;"><%= format_amount(deal.amount_dolar, 'USD') %></td>
              <td style="text-align: center;"><%= format_amount(deal.pre_valuation_dolar, 'USD') %></td>
              <td><a href="/deals/<%= deal.id %>"><i class="fas fa-arrow-right"></i></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <!--</div>-->
<% else %>
  <div class="table-card">
    <%= t("empty_state") %>
  </div>
<% end %>
