<% if @company.investor? %>
<!--<div class="item">-->
  <h1 class="title-accordion"><img src="/img/investments.svg" alt=""> <%= t('companies.show.deals.invested') %></h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('investor.show.deals.close_date') %></th>
          <th><%= t('investor.show.deals.company') %></th>
          <th><%= t('investor.show.deals.deal_type') %></th>
          <th><%= t('investor.show.deals.round') %></th>
          <th style="width: 10em;"><%= t('investor.show.deals.amount') %></th>
          <th style="width: 10em;"><%= t('investor.show.deals.pre_money') %></th>
          <th style="width: 25px;"></th>
        </tr>
      </thead>
      <tbody>
        <% @company.investor.deals.each do |deal| %>
          <tr>
            <td><strong><%= I18n.l(deal.close_date, format: "%Y/%m") %></strong></td>
            <td><a href="/companies/<%= deal.company.permalink %>" style="float: none;"><%= deal.company.name %></a></td>
            <td><%= I18n.t("deals.model.categories.#{deal.category}") %></td>
            <td><%= deal.round ? I18n.t("deals.form.rounds.#{deal.round}") : t("empty_state") %></td>
            <td><%= format_amount(deal.amount, deal.amount_currency) %></td>
            <td><%= format_amount(deal.pre_valuation, deal.pre_valuation_currency) %></td>
            <td>
              <a href="/deals/<%= deal.id %>">
                <i class="fas fa-arrow-right"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!--</div>-->
<% end %>
