<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dealbook</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/libs/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/Swiper/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:300,400">
    <link rel="stylesheet" href="/css/font-museosans.css">
    <link rel="stylesheet" href="/libs/select-bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.14.0/tingle.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/regular.css">
    <link rel="stylesheet" href="/css/filter-detail.css">
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/countries.js"></script>

    <link rel="stylesheet" href="/css/float-label.css"/>

    <%= render 'shared/ga' %>
  </head>

  <body>
    <script type="text/javascript" src="/libs/jQuery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/libs/jquery_ujs/rails-1.2.2.min.js"></script>
    <script type="text/javascript" src="/libs/Bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/Modernizr/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="/libs/Swiper/swiper.min.js"></script>
    <script type="text/javascript" src="/libs/select-bootstrap/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script type="module" src="/js/main.js"></script>
    <script type="text/javascript" src="/libs/inputmask/inputmask.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.14.0/tingle.min.js"></script>
    <!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <%= render partial: 'shared/header' unless @blank_layout %>
    <%= yield %>
    <%= render partial: 'shared/footer' unless @blank_layout %>

    <script>
     var swiperUpdates = new Swiper('.swiper-container', {
       pagination: '.swiper-pagination',
       nextButton: '.arrows-controls .arrow-right',
       prevButton: '.arrows-controls .arrow-left',
       centeredSlides: true,
       slidesPerView: 3,
       spaceBetween: 30,
       breakpoints: {
         991: {
           slidesPerView: 2,
           spaceBetween: 20
         },
         769: {
           slidesPerView: 1,
           spaceBetween: 15
         }
       }
     });
    </script>
  </body>
</html>
